body{
    text-align: center;
}
/* ユーザのアップロードした画像に関する記述 */
img{
    max-height:300px;
    max-width:480px;
    height:auto;
    width:auto;
}
.resultTableContent{
    height:30px;
    border: 3px solid #01751a;
    border-radius: 4px;
}
#title{
    height: 40px;
    text-align: center;
    background-color: #01751a;
    font-weight: bold;
    font-size: 18px;
    color: white;
    line-height: 40px;
}
.resultArea{
    width:1200px;
    /* height:350px; */
    margin:0px auto;
    text-align: center;
}

.resultArea2{
    /* width:1200px; */
    /* height:350px; */
    margin:0px auto;
    text-align: center;
}

#showPic{
    border: 6px solid #01751a;
    border-radius: 4px;
    width:40%;
    height:300px;
    margin: 10px;
    float:left;
}
#resultTable{
    width:40%;
    float:right;
    margin: 10px;
}
#chartArea{
    border: 6px solid #01751a;
    border-radius: 4px;
    width:40%;
    height:300px;
    margin: 10px;
    float:left;
}
#textTable{
    width:40%;
    float:right;
    margin: 10px;
}
/* 初期状態では結果部分が表示されないようにするための記述 */
.hidden{
    display: none;
}

#yubi{
    max-height: 31px;
    max-width: 65px;
    height: auto;
    width: auto;
}


.filelabel{
  display: inline-block;
  position: relative;
  background-color: #1877F2;
  color: #fff;
  font-size: 16px;
  padding: 10px 20px;
  border-radius: 8px;
  transition: all 0.5s;
}
.filelabel:hover{
  background-color: #004db1;
}

.fileinput{
  display: none;
}